body,html{
    overscroll-behavior: none;
    margin:0px;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    font-weight: 800;
    font-size: 29px;
  font-family: "Inter", sans-serif;
    color: rgb(14, 97, 165);
 
}

.nav_cont{
    display: flex;
    align-items: center;
    z-index: 999;
    background: black;
    position: sticky;
    top: 0;
    padding: 30px 25px;
}

.container{
    display:flex;
   justify-content: space-between;
   align-items: center;

 
}

.logo{
    width: 50px;
    padding: 0px 20px;
}
